#text files
.txt

#images
.jpg

# Environment files
.env

# Binaries
main
*.exe
*.test

# OS files
.DS_Store

# SQLite databases
*.db
*.db-journal

#folder
Public/
internal/api/test

#project summary
/project_summary.md
